body {background-color: #dbf6e9}
hr {
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 5px;
width: 10%;
}
h1{color: #03506f;font-size: 50px;}
h3{color: #03506f;}
.ismail {background-color: blue;}
img:hover{
  background-color: Green;
}
